@import '@styles/variables/all';

.hero {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;

  @media (max-width: $lg) {
    flex-direction: column;
  }
}

.heroTitle {
  align-self: center;

  @media (max-width: $lg) {
    align-self: flex-start;
    margin-bottom: 30px;
  }
}